@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Krona One', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1,
h2 {
    font-family: 'Krona One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-left: 10px;

    /*  Color gradient for h1 */

}

h1,
h2:hover {
    background: -webkit-linear-gradient(#6d7a8b, #503b34);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


#logo {
    float: left;
    font-size: 150%;
}

/* navigation links */

#menu {
    font-size: 80%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    padding-left: 60px
}

#menu a {
    text-decoration: none;
    color: #fdfdfd;
}

#menu a:hover {
    border-bottom: 1px solid #fdfdfd;
}

.active {
    border-bottom: 1px solid #fdfdfd;
}

/* hero image */

#background-image {
    height: 950px;
    width: 100%;
    background: url('../images/background/background.jpg') no-repeat center center;
}



/* Font style for body */



/* Navigation and logo */


/* Midle */

/* Footer */

footer {
    bottom: 0;
    width: 100%;
    position: ;
    background: black;
    height: 150px;
}

#social-network {
    text-align: center;
}

#social-network i {
    color: #A9A9A9;
}

#social-network i:hover {
    color: #cda27a;
}

#social-network>li {
    font-size: 250%;
    display: inline-block;
    margin: 20px;
}

footer>p {
    color: white;
    text-align: center;
    font-size: 15px;
    letter-spacing: 5px;
}