@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

body {
    font-family: 'Krona One', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Scrollbar style */

/* scroll bar width */
::-webkit-scrollbar {
    width: 10px;
}

/* track */
::-webkit-scrollbar {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
    background-color: #3a3a3a;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: rgb(187, 161, 79, .3);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(#bba14f, #f7ef8a, #d2ac47, #edc967);
}

/* Style for language buttons */

#ua_font,
.ua_font {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
}

.england {
    width: 30px;
    height: 30px;
    top: 30px;
    right: 100px;
    position: absolute;
    color: #A9A9A9;
}

.ukraine {
    width: 30px;
    height: 30px;
    top: 30px;
    right: 140px;
    position: absolute;
    color: #A9A9A9;
}

.active_lang {
    background: -webkit-linear-gradient(#bba14f, #f7ef8a, #d2ac47, #edc967);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ukraine:hover {
    background: -webkit-linear-gradient(#bba14f, #f7ef8a, #d2ac47, #edc967);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.england:hover {
    background: -webkit-linear-gradient(#bba14f, #f7ef8a, #d2ac47, #edc967);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* HAmburger */
#menu__toggle {
    opacity: 0;
    position: absolute;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
    background-color: #bba14f;

}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: #bba14f;
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #bba14f;
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

.menu__btn {
    position: absolute;
    top: 40px;
    right: 50px;
    width: 36px;
    height: 46px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #A9A9A9;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 340px;
    height: 950px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    border-right: 2px solid rgb(187, 161, 79, .6);
}

.menu__box:hover {
    border-right: 2px solid #edc967;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #CFD8DC;
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    top: 0;
}

.menu__item:hover {
    background-color: #CFD8DC;
    color: #3a3a3a;
}

/* headings and logo */

h1,
h2 {
    font-family: 'Krona One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-left: 10px;
    color: #fdfdfd;
}

/*  Color gradient for h1 */

h1,
h2:hover {
    background: -webkit-linear-gradient(#6d7a8b, #503b34);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


#logo {
    float: left;
    font-size: 150%;
}

/* navigation links */

#menu {
    font-size: 80%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu_background {
    width: 100%;
    height: 70px;

    position: fixed;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .1);
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    padding-left: 60px;
}

#menu a {
    text-decoration: none;
    color: #fdfdfd;
}

#menu a:hover {
    border-bottom: 1px solid #fdfdfd;
}

.active {
    border-bottom: 1px solid #fdfdfd;
}

/* tattoo artist image */

#background-image {
    height: 950px;
    width: 100%;
    background: url('../images/background/background.jpg') no-repeat center center;

}

#appointment>a {
    font-size: 130%;
    font-family: 'Krona One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    color: rgb(187, 161, 79);
    font-weight: bold;

    padding-top: 40x;
    padding-left: 10px;

    bottom: 30px;
    right: 270px;

    position: absolute;
}

/* Animation for appoinment */

#appointment>a:hover {
    background: -webkit-linear-gradient(#bba14f, #f7ef8a, #d2ac47, #edc967);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* Midle */

#middle_studio {
    height: 620px;
    width: 100%;
    background-color: darkgrey;
}

.studio_name {
    color: #bba14f;
}

.studio_about {
    color: white;
}

/* Footer */

footer {
    bottom: 0;
    width: 100%;
    position: ;
    background: black;
    height: 150px;
}

#social-network {
    text-align: center;
}

#social-network i {
    color: #A9A9A9;
}

#social-network i:hover {
    background: -webkit-linear-gradient(#bba14f, #f7ef8a, #d2ac47, #edc967);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#social-network>li {
    font-size: 250%;
    display: inline-block;
    margin: 20px;
}

footer>p {
    color: white;
    text-align: center;
    font-size: 15px;
    letter-spacing: 5px;
}