@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Font style for body */

body {
    background-color: none;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 300;
}

/* Navigation and logo */

#navigation-bar {
    background-color: black;
    width: 100%;
    height: 50px;
    text-align: center;
}

#navigation-bar li {
    list-style-type: none;
    display: inline;
}

#navigation-bar a {
    color: #d2a200;
    padding-left: 50px;
    letter-spacing: 8px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

#navigation-bar a:hover {
    color: #b68f0d;
}

#logo {
    text-transform: uppercase;
    background-color: yellow;
}

header>a,
#navigation-bar a {
    text-decoration: none;
}

#background {
    max-height: 700px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

#background-image {
    max-height: 700px;
    max-width: 100%;
    background: url("../images/background/background.png")no-repeat center center;
}

/* Midle */

#example {}

/* Footer */

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: black;
    height: 150px;
}

#social-network {
    text-align: center;
}

#social-network i {
    color: #A9A9A9;
}

#social-network i:hover {
    color: #d2a200;
}

#social-network>li {
    font-size: 250%;
    display: inline-block;
    margin: 20px;
}

footer>p {
    color: white;
    text-align: center;
    font-size: 15px;
    letter-spacing: 5px;
}